<?xml version="1.0"?>

<robot name="control_panel">

  <!-- World root frame -->
  <link name="world"/>

  <!-- Fixed joint attaching panel to world -->
  <joint name="world_to_panel" type="fixed">
    <parent link="world"/>
    <child link="panel_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Main panel body -->
  <link name="panel_base_link">

    <!-- VISUAL GEOMETRY (RViz uses this) -->
    <visual name="panel_base_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <mesh
          filename="package://erc_panel_sim/meshes/Cube.001.stl"
          scale="1 1 1"/>
      </geometry>

    </visual>

    <!-- COLLISION GEOMETRY -->
    <collision name="panel_base_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <mesh
          filename="package://erc_panel_sim/meshes/Cube.001.stl"
          scale="1 1 1"/>
      </geometry>

    </collision>

  </link>

</robot>