<?xml version="1.0"?>
<robot name="erc_panel" xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- <material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material> silver material defined here-->
  <!-- include switch macro -->
  <xacro:include filename="$(find switch_description)/urdf/rotary_control.xacro"/>

  <!-- world anchor -->
  <link name="world"/>

  <!-- panel base -->
   <xacro:include filename="$(find panel_body_description)/urdf/panel_body.xacro"/>
 <!-- attach panel base to world -->
   <joint name="world_to_panel" type="fixed">
  <parent link="world"/>
  <child link="panel_base_link"/>
  <origin xyz="0 0.0 0" rpy="0 0 0"/>
</joint>
<link name="panel_face"/>

<joint name="panel_to_face" type="fixed"> <!--Added this to attach switches directly to the tilted panel face-->
  <parent link="panel_base_link"/>
  <child link="panel_face"/>
  <origin xyz="0 -0.17 0.082" rpy="-0.5236 0 0"/>
</joint>
  <!-- Op 3: Rotary control switches (5 total, turn 3) -->
  <!-- z=0.015 places switch face on panel surface -->
  <xacro:rotary_switch name="rotary_1" parent="panel_face"
    x="-0.13" y="-0.007" z="-0.015"/>
  <xacro:rotary_switch name="rotary_2" parent="panel_face"
    x="-0.065" y="-0.007" z="-0.015"/>
  <xacro:rotary_switch name="rotary_3" parent="panel_face"
    x="0.000" y="-0.007" z="-0.015"/>
  <xacro:rotary_switch name="rotary_4" parent="panel_face"
    x="0.065" y="-0.007" z="-0.015"/>
  <xacro:rotary_switch name="rotary_5" parent="panel_face"
    x="0.13" y="-0.007" z="-0.015"/>

</robot>
