<?xml version="1.0" ?>
<robot name="switch" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- <xacro:include filename="$(find switch_description)/urdf/switch_materials.xacro" />  color defined in main xacro now-->
<xacro:include filename="$(find switch_description)/urdf/switch.ros2control" />
<xacro:include filename="$(find switch_description)/urdf/switch.gazebo" />

<!-- added the next line to define {name} and be able to call it multiple times in the main urdf file -->
<xacro:macro name="rotary_switch" params="name parent x y z"> 
  <link name="${name}_link">
    <inertial>
      <origin xyz="6.366006894442245e-09 -0.01824355119659464 0.0004779176478562203" rpy="0 0 0"/>
      <mass value="0.26868138810170755"/>
      <inertia ixx="7.9e-05" iyy="3.9e-05" izz="7.1e-05" ixy="-0.0" iyz="-1e-06" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find switch_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/> <!-- changed the mesh to base_link.stl ashan el mesh sabet -->
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find switch_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/> <!-- changed the mesh to base_link.stl ashan el mesh sabet -->
      </geometry>
    </collision>
  </link>

  <link name="${name}_knob_link">
    <inertial>
      <origin xyz="5.66679959378946e-13 0.005864382519741506 -0.0005851869324117954" rpy="0 0 0"/>
      <mass value="0.0270236155922358"/>
      <inertia ixx="2e-06" iyy="2e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.008 -0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find switch_description)/meshes/knob_link_1_1.stl" scale="0.001 0.001 0.001"/> <!-- changed the mesh to knob_link_1_1.stl ashan el mesh sabet -->
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="-0.0 -0.008 -0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find switch_description)/meshes/knob_link_1_1.stl" scale="0.001 0.001 0.001"/> <!-- changed the mesh to knob_link_1_1.stl ashan el mesh sabet -->
      </geometry>
    </collision>
  </link>

  <joint name="${name}_Revolute" type="revolute">
    <origin xyz="0.0 0.008 0.0" rpy="0 0 0"/>
    <parent link="${name}_link"/>
    <child link="${name}_knob_link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit upper="1.570796" lower="0.0" effort="100" velocity="100"/>
  </joint>
  <!-- attach switch body to parent -->
<joint name="${name}_mount_joint" type="fixed">
  <parent link="${parent}"/>
  <child link="${name}_link"/>
  <origin xyz="${x} ${y} ${z}" rpy="0 0 3.14159"/> <!-- added 3.14159 to flip the switch body because it was directed inwards -->
</joint>
</xacro:macro>
</robot>
